

// .btn
// {
//     background-color: #342A23;
//     border: #342A23;
// }

.backgroundimg
{
    background-repeat: no-repeat;
    background-size:cover; 
    background-image: url('../../../assets/Frame\ 9.svg'); 
}

.profilep{
    width: 2rem;;
    height: 2rem;
    border-radius:2rem ;

}

.card-body{
    border-radius: 18px;
    box-shadow: -18px 17px 33px -4px rgba(0,0,0,1);
}