<!-- <div style="background: radial-gradient( rgba(238,174,202,1)0%, rgba(148,187,233,1) 100%);"> -->
  <div class="backgroundimg" style="background-image:url('../../../assets/Frame\ 9.svg');">
  <form class="form" id="formRegister" [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm)">
    <section class="flex flex-col items-center justify-center px-5 pb-10">
      <a><img class="himg" src="../../../assets/PT__2_-removebg-preview.png" [routerLink]="['/landing']" alt=""></a>
      <div class="formL w-full rounded-lg sm:max-w-md" style="background-color: #dba0cbbd;">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8 text-white">
                        <div>
                            <label for="name" class="block mb-2 text-sm font-medium">Name<span>*</span></label>
                            <input minlength="2" required  type="text" name="name" id="name" formControlName="user_name" 
                            class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black " 
                            style="background-color:white ;" placeholder="Please enter your name." required="">  
                        </div>

                        <!-- s -->
    
                        <div>
                            <label for="name" class="block mb-2 text-sm font-medium">Surname<span>*</span></label>
                            <input minlength="2" required  type="text" name="name" id="last_name" formControlName="user_lastname" 
                            class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black " 
                            style="background-color:white ;" placeholder="Please enter your surname." required="">
                        </div>
    
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium">Email<span>*</span></label>
                            <input minlength="6" required type="email" name="email" id="email" formControlName="user_email" 
                            class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black " 
                            style="background-color:white ;" placeholder="Please enter your email." required="">
                        </div>
    
                        <div>
                          <label for="file" class="block mb-2 text-sm font-medium">Cover Image<span>*</span></label>
                          <input  required type="file" name="file" id="file" formControlName="file" (change)="onFileChange($event)"
                            class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black "
                            style="background-color:white ;" placeholder="Please select the file" required="">
                        </div>
    
                        
                            <label class="block mb-2 text-sm font-medium" for="grid-first-name">
                           Province<span>*</span>
                            </label>
    
                              <select formControlName="province" style="background-color:white ;" class="form-control block appearance-none w-full bg-gray-200 border text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="province">
                                <option>Choose a Province</option>
                                <option *ngFor="let prov of provinces" [ngValue]="prov">{{prov}}</option>
                              </select>
                              <!-- <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                              </div> -->
            
                      <label class="block mb-2 text-sm font-medium" for="city">
                        City<span>*</span>
                      </label>
                      <input minlength="4" required  formControlName="city" 
                      class="form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="city" 
                      style="background-color:white ;"type="text" placeholder="Please enter your city.">
    
                      <label class="block mb-2 text-sm font-medium" for="grid-last-name">
                        Town<span>*</span>
                      </label>
                      <input minlength="4" required formControlName="area" class="form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text"style="background-color:white ;" 
                      placeholder="Please enter your town.">
    
                      <label class="block mb-2 text-sm font-medium" for="grid-first-name">
                        Street Name<span>*</span>
                      </label>
                      <input minlength="6" required formControlName="street" class="form-control appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" style="background-color:white ;" 
                      placeholder="Please enter your street name.">
                  
                  <label class="block mb-2 text-sm font-medium" for="grid-first-name">
                    Select Service<span>*</span>
                  </label>
                      <select formControlName="service" class="form-control block appearance-none invalid:border-red-500  bg-gray-200 border text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" style="background-color:white ;" id="grid-state">
                      <option>Choose a Service</option>
                      <option *ngFor="let sev of sevices" [ngValue]="sev">{{sev}}</option>
                      </select>

          
            <label class="block mb-2 text-sm font-medium" for="grid-first-name">
              Description
            </label>
            <textarea id="message" rows="4" formControlName="description" 
            class="form-control block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"  
            placeholder="Please write a brief discription about your services..." style="background-color: white;"></textarea>
            
            <label for="password" class="block mb-2 text-sm font-medium">Password<span>*</span></label>
            <input minlength="6" required type="password" name="password" id="password" 
            placeholder="Please create a password." formControlName="password" 
            class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            style="background-color:white ;"required="">
            
            <label for="confirm-password" 
            class="block mb-2 text-sm font-medium">Confirm password<span>*</span></label>
            <input minlength="6" required  type="password" name="confirm-password" id="confirm-password" style="background-color:white ;" 
            placeholder="Please confirm your password." formControlName="confirmPassword" class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
            </div>        

          <button class="btn btn-sm text-center border-none  mb-3 " style="background-color:#202450; color: white;" type="submit"  >Sign up</button>

          <!-- <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create an account</button> -->
          <p class="text-center mb-5 textW text-gray-500"> 
              Already a member? <br> 
              <a href="#" class="font-medium text-sm underline" style="color:#202450;"  routerLink="/login">Sign In</a>
          </p>

    </div>
  
  </section>
</form>
</div>
