<div class="backgroundimg" >
    <div class="flex flex-col items-center justify-center px-10 pb-10">
            <a><img class="himg" src="../../../assets/PT__2_-removebg-preview.png" [routerLink]="['/landing']" alt=""></a>
        <div class="w-full rounded-lg sm:max-w-md" style="background-color: #dba0cbbd;">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
               
                <form [formGroup]="passwordForm" >

                    <div>
                        <label for="password" class="block mb-2 text-sm font-mediumt text-white">Password<span>*</span></label>
                        <input type="password" formControlName="password" name="password" required>
                    </div>  

                    <div>
                        <label for="password" class="block mb-2 text-sm font-mediumt text-white">Confirm Password<span>*</span></label>
                        <input type="password" formControlName="confirmPassword" name="confirmPassword" required>
                    </div>
                    <button type="submit" (click)="onSubmit()" class="btn btn-sm text-center border-none mt-2" style="background-color: #202450; color: white;">Reset Password</button>
                </form>

            </div>
        </div>
    </div>
</div>
