

  <div class="backgroundimg" style="background-image:url('../../../assets/Frame\ 9.svg');">
<div class="flex flex-col min-h-screen">
  <app-header></app-header>

  <!-- <div class="grid grid-cols-1 place-items-center">
    <div class="card card-side flex-col lg:flex-row bg-base-100 shadow-xl mx-40 my-10"></div> -->

    <div class="card card-side flex-col md:flex-row shadow-xl mx-10 my-10">
  
    <!-- <img class="img" src={{provider.image}} alt="Shoes" class="rounded-sm " />
  -->
  <div class="card-body items-center text-center " >
   
    <p class="text-center text-white"> How was {{provider.name}} {{provider.surname}}'s service?</p>
    <div class="card-actions">
      <div class="star-rating">
        <i *ngFor="let star of stars; let i = index" class="fa fa-star"
          [ngClass]="{ 'selected': i < ratings, 'default': i >= ratings }"
          (click)="onClick(i + 1)"></i><br>
        <span class="rating-value text-white">{{ratingText}}</span>
    
        <div>
            <button type="submit" (click)="changeRating()" class="btn  text-white sm:btn-sm md:btn-md lg:btn-md mt-4">Submit</button>
        </div>
    </div>
    </div>
  </div>
</div>


<!-- <app-footer class="footer"></app-footer> -->
<!-- <div class="bottom-0 w-full ">
  <app-footer class="footer"></app-footer>
</div> -->
</div>
</div>

<ngx-smart-loader identifier="myLoader">
  <div class="loader">
    <div class="circle"></div>
  </div>
</ngx-smart-loader>