@tailwind base;
@tailwind components;
@tailwind utilities;

@import "ngx-smart-loader/ngx-smart-loader";
@import "app/app.component";
@import 'ngx-toastr/toastr';



body
{
   
    font-family: 'Poppins', sans-serif;
 
}

.formL{

    border-radius: 18px;
   box-shadow: -18px 17px 33px -4px rgba(0,0,0,1);
  
  }